In [29]:
import pandas as pd
import numpy as np
# reading of csv file
df = pd.read_csv("C:/Users/priya/Downloads/ali_express_2024_winter_jackets.csv")
# it will display first 5 records
df.head()

,title,tradeAmount,averageStar,wishedCount,quantity,AverageDiscountPrice,MinDiscountPrice,MaxDiscountPrice
0,Winter Padded Cotton Coat Female New Korean Ve...,68 sold,0.0,309,17726,18.412000,16.31,27.34
1,2024 Women Parkas Winter Casual Long Coats Jac...,14 sold,5.0,46,23969,42.540000,42.54,42.54
2,Faux Fur Woman Jacket Hooded Drawstring Parka ...,1 sold,0.0,3,599,25.445667,24.28,26.62
3,2023 New Down Cotton Vest Women Autumn Winter ...,800+ sold,4.5,1585,485033,11.981977,2.06,21.36
4,New Winter Women Parka Hooded Jackets Thicken ...,43 sold,0.0,112,32651,15.250000,15.25,15.25

In [7]:
# returns colunms
df.columns

Index(['title', 'tradeAmount', 'averageStar', 'wishedCount', 'quantity',
       'AverageDiscountPrice', 'MinDiscountPrice', 'MaxDiscountPrice'],
      dtype='object')

In [8]:
# returns data type of each varible
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 109 non-null    object
 1   tradeAmount           109 non-null    object
 2   averageStar           109 non-null    float64
 3   wishedCount           109 non-null    int64
 4   quantity              109 non-null    int64
 5   AverageDiscountPrice  109 non-null    float64
 6   MinDiscountPrice      109 non-null    float64
 7   MaxDiscountPrice      109 non-null    float64
dtypes: float64(4), int64(2), object(2)
memory usage: 6.9+ KB

In [28]:
# returns dimensions of the data set
df.shape

(109, 6)

In [10]:
df.loc[df.isna().any(axis="columns")]

Empty DataFrame
Columns: [title, tradeAmount, averageStar, wishedCount, quantity, AverageDiscountPrice, MinDiscountPrice, MaxDiscountPrice]
Index: []

In [26]:
df['title'].is_unique
df['quantity'].is_unique

False

In [30]:
# to drop rhe column
to_drop = ['wishedCount']
df.drop(to_drop, inplace=True, axis=1)

In [31]:
df.head()

,title,tradeAmount,averageStar,quantity,AverageDiscountPrice,MinDiscountPrice,MaxDiscountPrice
0,Winter Padded Cotton Coat Female New Korean Ve...,68 sold,0.0,17726,18.412000,16.31,27.34
1,2024 Women Parkas Winter Casual Long Coats Jac...,14 sold,5.0,23969,42.540000,42.54,42.54
2,Faux Fur Woman Jacket Hooded Drawstring Parka ...,1 sold,0.0,599,25.445667,24.28,26.62
3,2023 New Down Cotton Vest Women Autumn Winter ...,800+ sold,4.5,485033,11.981977,2.06,21.36
4,New Winter Women Parka Hooded Jackets Thicken ...,43 sold,0.0,32651,15.250000,15.25,15.25

In [34]:
# returns the first 30 records
df.head(30)

,title,tradeAmount,averageStar,quantity,AverageDiscountPrice,MinDiscountPrice,MaxDiscountPrice
0,Winter Padded Cotton Coat Female New Korean Ve...,68 sold,0.0,17726,18.412000,16.310000,27.340000
1,2024 Women Parkas Winter Casual Long Coats Jac...,14 sold,5.0,23969,42.540000,42.540000,42.540000
2,Faux Fur Woman Jacket Hooded Drawstring Parka ...,1 sold,0.0,599,25.445667,24.280000,26.620000
3,2023 New Down Cotton Vest Women Autumn Winter ...,800+ sold,4.5,485033,11.981977,2.060000,21.360000
4,New Winter Women Parka Hooded Jackets Thicken ...,43 sold,0.0,32651,15.250000,15.250000,15.250000
5,Down Jacket Men White Duck Winter Coat Windpro...,500+ sold,4.7,16345,48.130000,48.130000,48.130000
6,Winter Clothes Women Heavy Jackets Coat Women ...,800+ sold,4.4,48,23.704000,20.640000,28.910000
7,Thick Down Cotton-Padded Jacket Jackets Women ...,0 sold,0.0,9000,19.210000,19.210000,19.210000
8,Casual Short Winter Jacket Women Stand Collar ...,"1,000+ sold",4.0,32890,11.669500,8.610000,14.320000
9,CHIC VEN Women's Jackets Vintage Fashion Lapel...,4 sold,0.0,6,76.210000,76.210000,76.210000
10,Winter Women Jacket Parka Clothes Fur Collar W...,800+ sold,4.4,747,25.037000,22.440000,29.550000
11,Thicken Autumn Winter Jackets Women Cotton-Pad...,6 sold,5.0,89,25.954444,25.810000,26.380000
12,2024 Winter Women Jacket Warm Black Hooded Zip...,52 sold,4.9,704,26.948333,25.990000,26.990000
13,2023 Causal Ladies Padded Jacket Short Autumn ...,47 sold,5.0,3382,16.761667,15.070000,16.810000
14,2024 New Winter short Down Cotton Jacket Women...,0 sold,0.0,2048,24.270000,24.270000,24.270000
15,Winter New Cotton Jacket Men's Baseball Collar...,900+ sold,4.4,1335,9.055833,7.730000,11.580000
16,2024 New Winter Down Cotton Women Short Parkas...,0 sold,0.0,5000,22.920000,21.000000,23.000000
17,Korean Fashion White Coats Winter Jacket Women...,10 sold,5.0,15958,15.678750,14.710000,15.710000
18,Women Jacket 2024 New Autumn Winter Parkas Fem...,105 sold,4.5,2899,12.110000,12.110000,12.110000
19,2023 New Women Winter Jacket Long Coat Fur Col...,95 sold,3.9,27903,45.120000,45.120000,45.120000
20,2024 Winter Coats Down Cotton Padded Jacket Wo...,0 sold,0.0,7500,20.486667,18.580000,20.780000
21,Autumn Winter Y2K Vest Women Thick Warm Down V...,"5,000+ sold",4.8,4513,6.578889,4.310000,7.890000
22,Casual Short Winter Jacket Women Stand Collar ...,0 sold,0.0,15984,28.701923,27.610093,29.511589
23,TRAFZA Autumn New Outerwear Women Solid Color ...,85 sold,4.4,2904,22.530000,22.530000,22.530000
24,Nlzgmsj Women 2024 Winter Parka Women Casual H...,7 sold,0.0,28,16.920000,16.510000,17.320000
25,2023 Winter Women Jacket Coats Long Parkas Fem...,900+ sold,4.3,389680,16.131899,9.510000,26.220000
26,Winter Women Coat 2022 New Korean Down Cotton ...,15 sold,3.0,1188,29.100000,29.100000,29.100000
27,2022 Mans Clothes Cargo Jackets Men Winter New...,107 sold,4.1,6,39.330000,39.330000,39.330000
28,TB Winter Men's Jacket Bread Down Jacket Korea...,1 sold,4.0,399,92.940000,92.940000,92.940000
29,TRAF ZR Autumn Winter Parkas for Women Retro Z...,171 sold,4.4,15790,27.950000,27.950000,27.950000

In [36]:
# columns with data types
df.dtypes

title                    object
tradeAmount              object
averageStar             float64
quantity                  int64
AverageDiscountPrice    float64
MinDiscountPrice        float64
MaxDiscountPrice        float64
dtype: object

In [37]:
# returning first 5 records with only avg discount price
df['AverageDiscountPrice'].head()

0    18.412000
1    42.540000
2    25.445667
3    11.981977
4    15.250000
Name: AverageDiscountPrice, dtype: float64